/*General purpose app headers & titles*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 auto 0 auto;
  }

/*Table Column Headers*/
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin: 0 auto 0 auto;
  }

/*For Error Toast or Danger Action Button*/
.danger {
    background-color: #f20000;
    color: #ffffff;
    font-size: 1.2rem;
}

/*Background Color of Table Cells & Form Fields*/
.dk-grey {
    background-color: #c4c4c4 ;
}

/*Edit Button*/
.edit-clickable {
    color: #0070f3;
}

.edit-unclickable {
    color: #303030;
}

/*Background Color for Table/Form Areas*/
.lt-grey {
    background-color: #eaeaea ;
}

/*Sub Nav-Bar*/
.sub-nav {
    background-color: #000000;
    color: #ffffff;
    font-size: 0.9rem;
}

/*Form Submission Button*/
.submit-btn {
    background-color: #000000;
    color: #ffffff;
}

/*For Success Toast or Action Button*/
.success {
    background-color: #027500;
    color: #ffffff;
    font-size: 1.2rem;
}

/*Small Text for Form Field Descriptions*/
.tiny-text{
    color: #545454;
    font-size: 0.6rem;
}

/*Main Nav-Bar*/
.top-nav {
    background-color: #FFC82B;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Table layout and bordering */
table.responsive-spaced
{
    border-collapse:separate;
    border-spacing: 40px 0;
    table-layout: fixed;
    width: 100%;
}

/* Table header aligning and padding */
table.responsive-spaced th{
    padding: 12px;
    text-align: center;
}

/* Table data aligning and padding */
table.responsive-spaced td{
    padding: 40px;
    text-align: center;
}

/* Table body spacing from headers */
table.responsive-spaced tbody:before
{
    line-height:1em;
    content:"_";
    color:white;
    display:block;
}

/* Table filter */
.table-filter-container{
    width: 100%;
    text-align: center;
    padding: 15px;
}
